{# address/success Twig template #}
{% extends "base.html.twig"%} 
{% block title %}
    Success
{% endblock %}

{% block body %}
    Eine Adresse wurde erfolgreich {{ operation }}.
    <a class="nav-link" href="/add">Eine neue Adresse Hinzufügen</a>
    <a class="nav-link" href="/showall">Zeig alle Adresse</a>
{% endblock %}