{# address/success Twig template #}
{% extends "base.html.twig"%} 
{% block title %}
   erfolgreich {{ operation }}
{% endblock %}

{% block body %}
    Eine Adresse wurde erfolgreich {{ operation }}.
    <a class="nav-link" href="/add">Eine neue Adresse Hinzufügen</a>
    <a class="nav-link" href="/showall">Alle Adresse anzeigen</a>
{% endblock %}